{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block content %}

<div class="w3-bar w3-indigo w3-border-bottom">
  <a href="{%url 'home'%}" onclick="w3_close()" class="w3-bar-item w3-button  w3-hover-green"><i class="fa fa-home "></i> Home</a>
  <a href="{%url 'add-biz'%}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-green"><i class="fa fa-plus"></i> Add Business</a>
  <a href="{%url 'add-alert'%}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-green"><i class="fa fa-plus"></i> Add Notification</a>
  <a href="/admin" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-green"><i class="fa fa-user"></i> Admin</a>
  <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button  w3-hover-red"><i class="fa fa-sign-out "></i>Logout</a>
  <form role="search" class="w3-hide-small" action="{%url 'search-biz'%}">
  <input type="text" name="business" class="w3-bar-item w3-input w3-transparent w3-hover-green w3-right" placeholder="Search Business...">
  </form>
</div>
<div class="w3-container w3-theme-l5">
    <div class="w3-col m6 w3-display-middle " >
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
          <h3 class="text-center">Add a Business</h3>
          <form  method="post" class="w3-round  w3-padding">
            {% csrf_token %}
            {{ form|crispy }}
             <div class="w3-bar w3-block">
            <div class="form-group w3-center">
            <input type="submit" class=" w3-center w3-margin w3-button w3-green" value="Submit">
            <input type="hidden" name="next" value="{{next}}">
            </div>
            </div>
          </form>
  </div>
</div>
{% endblock %}