{%load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Neibahood {{title}}</title>
  {% else %}
    <title>Neibahood </title>
  {% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-purple.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif;}

</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- nav bar-->
<div class="w3-bar w3-indigo w3-border-bottom">
  <a href="{%url 'home'%}" onclick="w3_close()" class="w3-bar-item w3-button  w3-hover-green"><i class="fa fa-home "></i> Home</a>
  <a href="{%url 'add-biz'%}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-green"><i class="fa fa-plus"></i> Add Business</a>
  <a href="/admin" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-green"><i class="fa fa-user"></i> Admin</a>
  <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button  w3-hover-red"><i class="fa fa-sign-out "></i>Logout</a>
  <form role="search" class="w3-hide-small" action="{%url 'search-biz'%}">
  <input type="text" name="business" class="w3-bar-item w3-input w3-transparent w3-hover-green w3-right" placeholder="Search Business...">
  </form>
</div>
<div class="w3-container">
  <h3 class="w3-center">{{hood.hood_name}}</h3>
  <div class="w3-row-padding">
  <div class="w3-container w3-half w3-margin-bottom ">
  <img src="{{hood.hood_photo.url}}"
       alt="hood_photo" style="width:100%" class="w3-card-4">
  </div>
  <div class="w3-container w3-half w3-padding w3-margin-bottom">
  <h5 class="w3-center">Hood Details</h5>
  <p>Name: {{hood.hood_name}}</p>
  <p>Population: {{hood.population}}</p>
  <a href="{%url 'home'%}" class="w3-button w3-red">Leave Area</a>
    <h5 class="w3-center">Businesses in the Area</h5>
    <table class="w3-table-all w3-small w3-card">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>hood</th>
  </tr>
      {% for business in result%}
  <tr>
    <td>{{business.business_name}}</td>
    <td>{{business.email}}</td>
    <td>{{business.hood}}</td>
  </tr>
      {% endfor %}
  </table>
  </div>
      </div>
  <div class="w3-row-padding ">
      <h5 class="w3-center">Active Notifications</h5>
      <table class="w3-table-all w3-small w3-card">
  <tr>
    <th>Title</th>
    <th>Posted by</th>
    <th>Hood</th>
  </tr>
      {% for notification in notices%}
  <tr>
    <td>{{notification.post}}</td>
    <td>{{notification.posted_by}}</td>
    <td>{{notification.hood}}</td>
  </tr>
      {% endfor %}
  </table>
  </div>
  </div>
  <script>
  // Tabs
  function openLink(evt, linkName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("myLink");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
    }
    document.getElementById(linkName).style.display = "block";
    evt.currentTarget.className += " w3-red";
  }
  
  // Click on the first tablink on load
  document.getElementsByClassName("tablink")[0].click();
  </script>
  </body>
  </html>